# Logs
lerna-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
npm-debug.log*
*.log
logs

node_modules
.DS_Store
dist-ssr
coverage
*.local
dist

/cypress/screenshots/
/cypress/videos/

# Editor directories and files
!.vscode/extensions.json
*.njsproj
.vscode/*
*.ntvs*
.idea
*.suo
*.sln
*.sw?

*.tsbuildinfo
